<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test suite">
    <test name="Login">
        <classes>
           <class name="com.automation.tests.day10_vytrack.login.NewLoginTests"/>
               <class name="com.automation.tests.day10_vytrack.activities.NewCalendarEventsTests"/>

        </classes>
    </test>
    <test name="Calendar events">
        <classes>
            <class name="com.automation.tests.day10_vytrack.activities.NewCalendarEventsTests"/>
        </classes>
    </test>
</suite>